@import "variables";

body {
  .grid-menu-main {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    max-width: 1600px;
    header {
      grid-column: 1 / span 1;
      nav {
        .nav-links-open {
          top: 0;
          // left: calc(8.333vw - 16px);
          left: calc(100vw / 12 - 2px);
          width: calc(91.667vw + 16px);
        }
        @media (min-width: 1600px) {
          .nav-links-open {
            top: 0;
            left: 133.33px;
            width: calc(100vw - 133.3px);
          }
        }
      }
    }
    main {
      grid-column: 2 / span 11;
      .home-section {
        gap: 16px;

        .home-text-top {
          font-size: 2rem;
        }
        .home-image-container {
          grid-column: 1 / span 6;
        }

        .home-text-bottom {
          grid-column: 7 / span 6;
          font-size: 2rem;
        }
      }
    }
    .food-menu-section {
      grid-template-columns: repeat(11, minmax(0, 1fr));
      gap: 16px;
      :nth-child(2) {
        grid-column: 1 / span 3;
      }
      :nth-child(3) {
        grid-column: 4 / span 4;
      }
      :nth-child(4) {
        grid-column: 8 / span 4;
      }
      .food-menu-item {
        grid-column: 1 / span 11;
        grid-template-columns: repeat(10, minmax(0, 1fr)) minmax(105px, 1fr);
        gap: 16px;
        padding: 0;

        h3 {
          grid-column: 1 / span 4;
        }
        .food-menu-item-description {
          grid-column: 5 / span 5;
        }
        .food-menu-item-price {
          grid-column: 11 / span 1;
        }
      }
    }
  }
}
