@import "variables";

body {
  .grid-menu-main {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    max-width: 1600px;
    header {
      grid-column: 1 / span 1;
      nav {
        .nav-menu-open {
          top: 0;
          // left: calc(8.333vw - 16px);
          left: calc(100vw / 12 - 2px);
          width: calc(91.667vw + 16px);
        }
        @media (min-width: 1600px) {
          .nav-menu-open {
            top: 0;
            left: 133.33px;
            width: calc(100vw - 133.3px);
          }
        }
      }
    }
    main {
      grid-column: 2 / span 11;
      .home-section {
        gap: 16px;

        .home-text-top {
          font-size: 2rem;
        }
        .home-image-container {
          grid-column: 1 / span 6;
        }

        .home-text-bottom {
          grid-column: 7 / span 6;
          font-size: 2rem;
        }
      }
    }
  }
}
