.btn {
  border: none;
  border-radius: 10px;
  padding: 3px 0;
  text-transform: uppercase;
  font-size: 2rem;
}

.btn-yellow {
  background-color: $color-client-yellow;
}
.btn-purple {
  background-color: $color-client-purple;
}
.btn-green {
  background-color: $color-client-green;
}

a {
  text-decoration: none;
}

body {
  background-color: $color-client-yellow;
  font-family: $font-jockey-one;
  font-size: 1.2rem;
  position: relative;
  overflow-x: hidden;

  .visually-hidden {
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  header {
    background-color: black;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 2;

    nav {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: black;

      h1 {
        color: white;
        margin: 0;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 2.5rem;
        line-height: 0;
        padding: 1rem;
      }

      .nav-links {
        display: none;
        opacity: 0;
        visibility: hidden;
      }
      .nav-links-open {
        background-color: $color-client-purple;
        height: calc(100vh - 100px);
        width: 100vw;
        position: absolute;
        top: 100px;
        display: flex;
        list-style: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
        margin: 0;
        padding-inline-start: 0;
        opacity: 100;
        visibility: visible;

        li {
          margin: 3rem 0;
          transition: margin-left 0.5s;
        }

        a {
          color: white;
          font-size: 3rem;
          text-transform: uppercase;
        }
      }
      .hamburger-btn {
        background-color: black;
        border: none;
        padding: 1rem;
        margin: auto 1rem;

        .bar {
          display: block;
          width: 48px;
          height: 8px;
          margin: 8px 0;
          transition: all 0.3s ease;
          border-radius: 2px;
          background-color: $color-client-yellow;
        }
      }

      .hamburger-btn.active .bar:nth-child(2) {
        opacity: 0;
      }
      .hamburger-btn.active .bar:nth-child(1) {
        transform: translateY(16px) rotate(45deg);
      }
      .hamburger-btn.active .bar:nth-child(3) {
        transform: translateY(-16px) rotate(-45deg);
      }

      .hamburger-btn:hover span {
        margin-left: 8px;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .home-section {
      background-color: black;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-left: $border-yellow;
      border-right: $border-yellow;
      min-height: calc(100vh - 80px);
      padding-bottom: 10rem;

      .drizzle-container {
        margin: 2rem 0;
        justify-self: right;

        .drizzle-h2 {
          font-weight: 900;
          text-transform: uppercase;
          text-align: right;
          margin: 0;
          color: $color-client-purple;

          span {
            display: block;
          }
          .drizzle-span {
            font-size: 2.8rem;
            margin-bottom: -2rem;
          }
          .tahini-span {
            font-size: 7rem;
            color: $color-client-green;
            z-index: 1;
            position: relative;
          }
          .chickpeas-span {
            font-size: 2.7rem;
            margin-right: 100px;
            margin-top: -2.25rem;
            color: $color-client-yellow;
          }
        }
      }

      .home-text-top {
        color: $color-client-green;
        padding: 0 2rem;
      }

      .home-image-container {
        width: 100%;

        position: relative;
        background-image: url("/assets/photos/green-cabbage-vegetable.jpg");
        background-size: cover;
        background-position: center;
        aspect-ratio: 1 / 1;

        .cabbage-arrow {
          position: absolute;
          left: 7%;
          bottom: 2rem;
          transform: rotate(90deg);
          transition: bottom 0.3s;
        }
        .cabbage-arrow:hover {
          bottom: 1rem;
        }
      }

      .home-text-bottom {
        background-color: white;
        color: $color-client-purple;
        padding: 0 2rem;

        .explore-menu-section {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: -2.1em;

          .explore-menu-text {
            color: black;
            text-transform: uppercase;
            font-size: 2rem;
          }

          .explore-arrow {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
  .food-menu-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-left: $border-yellow;
    border-right: $border-yellow;
    min-height: calc(100vh - 80px);
    margin: 10rem 0;

    :nth-child(2) {
      order: 1;
    }
    :nth-child(3) {
      order: 3;
    }
    :nth-child(4) {
      order: 6;
    }
    :nth-child(5),
    :nth-child(6) {
      order: 2;
    }
    :nth-child(7),
    :nth-child(8),
    :nth-child(9) {
      order: 4;
    }
    :nth-child(10),
    :nth-child(11) {
      order: 6;
    }

    figure {
      width: 100%;
      height: 300px;
      margin: 0 0 1rem 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0;
      }
    }

    .food-menu-item {
      background-color: white;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      width: calc(100% - 2rem);
      margin-bottom: 1rem;
      width: 100%;
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 105px;
      grid-auto-flow: column;
      .food-item-name {
        text-transform: uppercase;
        display: inline;
        padding-left: 1rem;

        h3 {
          line-height: 3rem;
          margin-block-start: 0;
          margin-block-end: 0;
          font-weight: 500;
          display: inline;
          font-size: 1.8rem;
        }
        span {
          margin-top: -2px;
          margin-right: 1rem;
          margin-left: 1rem;
        }
        div {
          display: inline-block;
          font-family: "Courier New", Courier, monospace;
          font-size: 1.1rem;
          height: 1rem;
          position: relative;
          bottom: 0.5rem;
          left: 1rem;
          margin-block: 0px;
        }

        .new-dish {
          background-color: $color-client-purple;
          padding: 2px 0;
          transform: rotate(2deg);
          margin: 0 auto;
          span {
            display: block;

            transform: rotate(-2deg);
          }
        }
        .vegan-dish {
          background-color: $color-client-green;
          padding: 2px 0;
          transform: rotate(-4deg);
          margin: 0 auto;
          span {
            display: block;
            transform: rotate(4deg);
          }
        }
        .popular-dish {
          background-color: $color-client-yellow;
          padding: 1px 0px;
          transform: rotate(-1deg);
          margin: 0 auto;
          span {
            display: block;
            transform: rotate(1deg);
          }
        }
      }

      .food-menu-item-description {
        font-family: $font-roboto-condesed;
        // margin: 1.3rem 0;
        // margin: -0.3rem 0;
        padding-left: 1rem;
        margin-block-start: 0;
        // margin-block-end: 0;
      }
      .food-menu-item-price {
        line-height: 1rem;
        text-align: right;
        font-size: 1.8rem;
        margin: 1rem 0;
        padding-right: 1rem;
      }
    }
  }

  .book-table-section {
    min-height: 100vh;
    width: calc(100% - 2rem);
    background-color: $color-client-green;
    padding-bottom: 50px;
    border-left: 1rem white solid;
    border-right: 1rem white solid;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact-container {
      width: 100%;
      aspect-ratio: 1 / 1;
      position: relative;

      .contact-image {
        width: 100%;
        height: 100%;
        background-image: url("/assets/photos/tough-cookie-restaurant.jpg");
        background-size: cover;
        background-position: center;
        filter: blur(3px) brightness(1.2);
      }
      a {
        color: $color-client-blue;
      }
      .contact-information {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // color: $color-client-blue;
        text-align: left;
        font-size: 1.5rem;
        filter: drop-shadow(-2px -2px 1px black);
        white-space: nowrap;

        .contact-text-and-icon-align {
          display: grid;
          grid-template-columns: 40px 1fr;
          align-items: center;
          line-height: 1rem;
          gap: 12px;
          .address-container {
            line-height: 0.5rem;
          }
          .material-symbols-outlined {
            font-size: 2.5rem;
            font-weight: 900;
            display: block;
          }
        }
      }
    }
    .booking-request-container {
      width: 100%;

      .booking-request-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;

        padding: 0 1rem;

        h2 {
          font-size: 2.5rem;
          text-transform: uppercase;
          font-weight: 500;
        }

        label span {
          font-size: 1.4rem;
        }

        label {
          margin: 10px 0;
          display: grid;
          grid-template-columns: 1fr;
          gap: 12px;
          width: 100%;
        }

        .user-input {
          font-family: $font-roboto-condesed;
          padding: 6px;
          border: none;
          border-radius: 5px;
          width: auto;
        }

        .form-button-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;
          margin-top: 1rem;
        }
      }
    }
  }

  .cookie-window {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $color-client-purple;
    width: 100%;
    height: 130px;
    display: grid;
    grid-template-rows: 30px 60px;
    grid-template-columns: 1fr;
    align-content: space-around;
    gap: 0;
    align-items: center;
    z-index: 3;
    justify-items: center;

    p {
      color: white;
      font-family: $font-roboto-condesed;
      text-transform: none;
      font-size: 1rem;
      font-weight: 500;
      padding-top: 1rem;
    }
    div {
      padding-bottom: 1rem;
    }

    button {
      width: 130px;
      margin: 0 0.3rem;
    }
  }
  .cookie-window-closed {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}
