@import "variables";

body {
  overflow-x: hidden;
  .grid-menu-main {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 12px;

    header {
      height: 100vh;
      nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        h1 {
          writing-mode: vertical-lr;
          text-orientation: upright;
          order: 1;
          padding: 0;
        }
        .nav-menu-open {
          top: 0;
          left: 100px;
          width: calc(100vw - 100px);
        }
      }
    }

    main {
      display: block;

      .home-section {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 12px;
        justify-content: start;
        align-content: start;
        padding-top: 4rem;
        border-left: none;

        .drizzle-container {
          grid-column: 1 / span 5;
          max-width: 300px;
          margin-bottom: 0;
        }

        .home-text-top {
          grid-column: 6 / span 7;
          padding: 0 1rem;
          // font-size: 2rem;
        }

        .home-image-container {
          grid-column: 1 / span 5;
          margin-bottom: 0;
          margin-block-start: 0em;
          margin-block-end: 0em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
        }
        .home-text-bottom {
          grid-column: 6 / span 7;
          padding: 0 1rem;
          // font-size: 2rem;
        }
      }
    }
  }
}
