$color-client-green: #00ff38;
$color-client-yellow: #fff236;
$color-client-purple: #aa75ff;
$color-client-blue: #62a5cf;
$font-jockey-one: "Jockey One", sans-serif;
$font-roboto-condesed: "Roboto Condensed", sans-serif;
$border-yellow: 1rem $color-client-yellow solid;
